{% extends 'base.html.twig' %}

{% block body %}

    <form id="testForm" method="post">
        Id <input type="text" name="uuid"/><br/>
        Nama <input type="text" name="nama"/><br/>
        Alamat <input type="alamat" name="alamat"/><br/>
        <input type="submit" value="submit"/>
    </form>

    Daftar User
    <table border="1" id="data">
        <thead>
        <tr>
            <th>uuid</th>
            <th>nama</th>
            <th>alamat</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>uuid</th>
            <th>nama</th>
            <th>alamat</th>
        </tr>
        </tfoot>

    </table>
    <button id="refresh">Refresh</button>
    <div id="stage">

    </div>
    <span id = "stage" style = "background-color:#cc0;">
         STAGE
      </span>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
          /*  $('#data').DataTable( {
                "serverSide": true,
                "ajax": "/users",
                "columns": [
                    { "users": "uuid" },
                    { "users": "nama" },
                    { "users": "alamat" }
                ]
            } );
*/
            $("#refresh").click(function(event){
                $.ajax({
                    type: "GET",
                    url: "/users",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $.each(data.users, function(key, value) {
                            alert(value);
                            //$('#data').appendChild("<td><td>"+value.uuid+"</td><td></td><td></td></tr>");
                        })
                    }
                });
            });

            $.ajax({
                type: "GET",
                url: "/users",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    $.each(data.users, function(key, value) {
                        alert(value);
                        //$('#data').appendChild("<td><td>"+value.uuid+"</td><td></td><td></td></tr>");
                    })
                }
            });
            // process the form
            $('form').submit(function(event) {

                // get the form data
                // there are many ways to get this data using jQuery (you can use the class or id also)
                var formData = {
                    "uuid"              : $('input[name=uuid]').val(),
                    "nama"             : $('input[name=nama]').val(),
                    "alamat"    : $('input[name=alamat]').val()
                };

                // process the form
                $.ajax({
                    type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url         : '/users', // the url where we want to POST
                    data        : formData, // our data object
                    dataType    : 'json', // what type of data do we expect back from the server
                    //encode          : true
                })
                // using the done promise callback
                        .done(function(data) {

                            // log data to the console so we can see
                            //console.log(data);

                        });

                // stop the form from submitting the normal way and refreshing the page
                event.preventDefault();
            });

        });
    </script>
{% endblock %}
