{% extends 'base.html.twig' %}

{% block body %}
    Hello
    <table>

    </table>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
