{% extends 'base.html.twig' %}

{% block body %}
    Daftar User
    <table border="1">
        <tr>
        <th>Id customer</th>
        <th>Nama</th>
        <th>Alamat</th>
        </tr>

    </table>
    <div >

    </div>

{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){

            /*$.get("/users", function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
            });*/
            $.ajax({
                url: '/users',
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    $.each(data.COLUMNS, function(item) {
                        alert(item);
                    });
                },
                error: function(e) {
                    console.log(e.message);
                }
            });
        });
    </script>
{% endblock %}
